<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,400&family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,500;0,6..72,600;1,6..72,400;1,6..72,500&display=swap"
    rel="stylesheet" />
  {% if page.layout == "post" %}
  <title>{{page.title}} | {{site.title}}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/post.css" />
  {% else %}
  <title>{{site.title}} | {{page.title}}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/blog.css" />
  {%endif%}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/common.css" />
  <script src="{{site.baseurl}}/assets/js/categories.js"></script>
  {% if page.layout == "post" %}
  <script defer src="{{site.baseurl}}/assets/js/lbox.js"></script>
  {% endif %}
  <meta name="description" content="{{ page.description }}" />
  <!-- social share / open graph -->
  {% assign share_image = page.feature_image | default: "/assets/img/profile.webp" %}
  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}" />
  <meta property="og:title" content="{{ page.title | default: site.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:image" content="{{ share_image | absolute_url }}" />
  <meta name="twitter:card" content="{% if page.feature_image %}summary_large_image{% else %}summary{% endif %}" />
  <meta name="twitter:title" content="{{ page.title | default: site.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  <meta name="twitter:image" content="{{ share_image | absolute_url }}" />
  <meta name="twitter:creator" content="@TheMajd_" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl}}/assets/favicon/site.webmanifest">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8MK3YFTLCD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8MK3YFTLCD');
  </script>

</head>
