---
layout: default
---
{% include bio.liquid %}
<section class="articles">
  <h2 class="articles-label">posts</h2>
  <ul class="post-index">
    {% for post in site.posts %}
    <li class="post-row">
      <a class="post-link" href="{{site.baseurl}}{{post.url}}">
        <span class="post-title">{{post.title}}</span>
        <span class="post-date">{{post.date | date: "%Y"}}</span>
      </a>
      <div class="categories">
        {% for c in post.categories %}
        <a href="#!" data-base-url="{{site.baseurl}}" class="category">{{c}}</a>
        {% endfor %}
      </div>
    </li>
    {%endfor%}
  </ul>
</section>
